@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');.container-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.images-woman-coffe{
    width: 58%;
}
.images-woman-coffe img{
    width: 100%;
    height: 100%;
}
.background-color{
    background-color: #53354A;
    width: 60%;

}
.container-designer{
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    padding-left: 70px;
    padding-bottom: 184px;
}
.text-designer{
    width: 68%;
    padding-bottom: 30px;
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Cardo', serif;
    line-height: 40px;
}
.discription-designer{
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width:1380px){
    .container-designer{
        padding-bottom: 135px;
        padding-top: 80px;
    }
}
@media screen and (max-width:1130px){
    .container-images{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-designer{
        padding-top: 124px;
        
    }
    .text-designer{
        width: 88%;
    }
    .background-color{
        width: 100%;
        height: 30.5rem;
    }
    .images-woman-coffe{
        width: 100%;
    }
}
@media screen and (max-width:680px){
    .background-color{
        height: 27.5rem;
    }
}
@media screen and (max-width:480px){
    .background-color{
        height: 16.5rem;
    }.container-designer{
        padding-top: 30px;
    }
    .text-designer{
        font-size: 30px;
        line-height: 30px;
    }
    .discription-designer{
        font-size: 12px;
    }
}